<%- include('../template/head') %>
<%- include('../template/header-pages') %>
<body>
    <div class="container">
        <div class="vaga">
            <%- Vaga.titulo %>
            <%- Vaga.descricao %>
        </div>
    </div>
</body>
<%- include('../template/footer') %>